.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.register-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  text-align: center;
}

.register-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-button {
  background-color: #ffe082;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.submit-button:hover {
  background-color: #616161;
  color: #fff;
}

.login-link {
  margin-top: 10px;
}

.login-link a {
  color: #000;
  text-decoration: none;
  transition: color 0.2s;
}

.login-link a:hover {
  color: #7e8300;
}
